Demos/C#/Web/WCFWebClient/Service References/ReportService/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FastReport.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FastReport.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4491/ReportService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfReportItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportItem" nillable="true" type="tns:ReportItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportItem" nillable="true" type="tns:ArrayOfReportItem" />
  <xs:complexType name="ReportItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportItem" nillable="true" type="tns:ReportItem" />
  <xs:complexType name="ArrayOfGearItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GearItem" nillable="true" type="tns:GearItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGearItem" nillable="true" type="tns:ArrayOfGearItem" />
  <xs:complexType name="GearItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Properties" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GearItem" nillable="true" type="tns:GearItem" />
  <xs:complexType name="ReportRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gear" nillable="true" type="tns:GearItem" />
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:ReportItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportRequest" nillable="true" type="tns:ReportRequest" />
</xs:schema>